<!-- Main Container -->
<%- include("partials/adminHeader"); -%>
<%- include("partials/sidebar"); -%>
<%- include("partials/head"); -%>
<div class="p-6">
  <div class="h-auto flex flex-col">
    <div class="flex justify-between items-center mb-4">
      <h3 class="text-lg font-bold">Orders</h3>
    </div>

    <div id="fulltable" class="overflow-hidden rounded-lg shadow-md max-h-[500px] overflow-y-auto">
      <table class="table-auto w-full text-left border border-white">
        <thead class="bg-white">
          <tr>
            <th class="px-6 py-4">Name</th>
            <th class="px-6 py-4">Order Code</th>
            <th class="px-6 py-4">Status</th>
            <th class="px-6 py-4">Total Amount</th>
            <th class="px-6 py-4">Date</th>
            <th class="px-6 py-4 text-right">Action</th>
          </tr>
        </thead>
        <tbody id="ordersTableBody" class="divide-y divide-gray-300 border bg-white">
          <!-- Data will be injected here -->
        </tbody>
      </table>
    </div>

    <div id="noOrdersMessage" class="p-6 hidden">
      <p class="text-center text-gray-500">No Orders found.</p>
    </div>

   <!-- Pagination -->
<div
id="paginationContainer"
class="flex justify-end items-center space-x-4 p-4 fixed bottom-0 right-0 left-0 "
>
<!-- Previous Button -->
<button
  id="prevPageBtn"
  class="w-10 h-10 flex items-center justify-center rounded-full hover:text-gray-400 text-black disabled:opacity-50"
  disabled
>
  <span><i class="bi bi-chevron-left"></i></span>
</button>

<div id="pageNumbers" class="flex space-x-2">
</div>

<button
  id="nextPageBtn"
  class="w-10 h-10 flex items-center justify-center rounded-full hover:text-gray-400 text-black disabled:opacity-50"
  disabled
>
  <span><i class="bi bi-chevron-right"></i></span>
</button>
</div>
  </div>
</div>

<script src="/javascript/admin/orders.js"></script>
  
</body>
  
</html>
