<%- include("partials/adminHeader"); -%>
<body class="bg-gray-50 font-sans text-gray-800">
  <%- include("partials/sidebar"); -%>
  <%- include("partials/head"); -%>

  <div class="px-[300px] mt-3 flex justify-center">
    <% if (order) { %>
    <div id="fororderboxes" class="p-6 bg-white rounded-xl shadow-sm flex flex-col mb-3 gap-2" data-order='<%= JSON.stringify(order) %>'></div>
    <% } %>
  </div>

  <script src="/javascript/admin/orderDetails.js"></script>
</body>
</html>
