<%- include("partials/adminHeader"); -%>
<body class="bg-gray-50 font-sans text-gray-800">
  <%- include("partials/sidebar"); -%>
  <%- include("partials/head"); -%>

  <div class="px-[300px] mt-3 flex justify-center">
    <% if (returnDetails) { %>
    <div id="forreturnboxes" class="p-6 bg-white rounded-xl shadow-sm flex flex-col mb-3 gap-2" data-return='<%= JSON.stringify(returnDetails) %>'></div>
    <% } %>
  </div>
  <div id="notification" class="text-sm mt-2"></div>

  <script src="/javascript/admin/returnDetails.js"> </script>
</body>
</html> 
