<%- include("partials/header"); -%> 
<%- include("partials/navbar"); -%>
<div class="flex flex-col gap-8 p-[100px] mt-[100px] min-h-screen">
<div class="text-6xl">
    Hide<strong>Nothing.</strong>
</div>
<div class="flex flex-col gap-4">
    <div class="text-4xl font-normal">Our values</div>
    <div>
        Founded in 2024 with the belief that beauty industry requires a revolution with respect to <strong>TRANSPARENCY.</strong>  There is lot of inaccurate advice & incorrect claims being made by beauty brands which results in fear mongering, misconceptions and eventually consumers making wrong decisions.

For example, the blind march towards beauty products with 'Natural' claims is really concerning. There is a misconception that 100% natural is safe & effective and anything that sounds like a chemical is unsafe. This is completely wrong.
<br >
<strong>
    "Everything is a chemical – water is a chemical – therefore, chemical-free products don’t exist."

</strong>
<br>
We wanted to address this issue of lack of transparency through a range of products that are straightforward, honest and do what they claim to do. No unnecessary marketing fluff. And this is how <strong>PurelyYou</strong> was born.
    </div>
</div>
</div>

<%- include('partials/footer'); -%>
