<%- include("partials/header"); -%> <%- include("partials/navbar"); -%>
<body class="mt-[80px] font-roboto">
  <div id="notification" class="text-sm mt-2"></div>
  <div class="flex flex-col min-h-screen">
    <div class="flext justify-start">
      <div class="pt-[80px] pb-4 px-[50px]">
        <h1 class="text-4xl font-light">Favourites</h1>
      </div>
    </div>

    <div
      class="w-full grid-cols-12 grid py-9 px-[80px] gap-3"
      id="soppingCartTable"
    >
      <div class="col-span-10 rounded-lg">
        <div class="overflow-x-auto rounded-lg">
          <table
            class="min-w-full bg-white border border-gray-200 rounded-md shadow-sm"
          >
            <thead>
              <tr class="bg-gray-100 text-gray-600 text-sm">
                <th class="py-3 px-6 text-left">Product</th>
                <th class="py-3 px-6 text-left">Remove</th>
                <th class="py-3 px-6 text-right">Add to cart</th>
              </tr>
            </thead>
            <tbody id="cartTableBody"></tbody>
          </table>
        </div>
      </div>
      <div class="col-span-2 justify-center flex" id="totalBox"></div>
    </div>
  </div>
  <%- include('partials/footer'); -%>

  <script src="/javascript/user/favourites.js"></script>

