<%- include("partials/header"); -%>
<body class="bg-gray-50 font-roboto">

<div class="h-screen w-full flex flex-col justify-center">
  <div class="justify-center flex flex-col items-center gap-1">
    <div class="font-medium text-4xl" id="paymentdone"></div>
    <div class="font-normal text-xl" id="orderplaced"></div>
    <div class="font-normal text-md" id="ordercodediv"></div>
    <div class="flex justify-between gap-6 mt-3">
      <button class="bg-black px-4 py-2 text-white rounded-lg" onclick="location.href='/';">Continue Browsing</button>
      <button class="bg-gray-200 px-4 py-2 text-black rounded-lg" onclick="location.href='/accountsettings/orders';">Order Details</button>
    </div>
  </div>
</div>
<script src="/javascript/user/orderSuccess.js"></script>

