<%- include("partials/header"); -%>
<body class="bg-gray-50 font-roboto">

<div class="h-screen w-full flex flex-col justify-center">
  <div class="justify-center flex flex-col items-center gap-1">
    <div class="font-medium text-4xl" id="paymentdone"></div>
    <div class="font-normal text-xl" id="orderplaced"></div>
    <div class="font-normal text-md" id="ordercodediv"></div>
    <div class="flex justify-between gap-6 mt-3">
      <button class="bg-black px-4 py-2 text-white rounded-lg" onclick="location.href='/user/home';">Continue Browsing</button>
      <button class="bg-gray-200 px-4 py-2 text-black rounded-lg" onclick="location.href='/user/home/accountsettings/orders';">Order Details</button>
    </div>
  </div>
</div>

<script>
  const pathParts = window.location.pathname.split('/'); 
  const orderId = pathParts[pathParts.length - 1];
  console.log(orderId);

  if (orderId) {
    window.onload = async () => {
      try {
        const response = await fetch(`/shoppingcart/checkout/orderplaced/orderdetails/${orderId}`, {
          method: 'GET',
          headers: {
            'Content-Type': 'application/json',
          },
        });

        if (response.ok) {
          const orderDetails = await response.json();
          document.getElementById('ordercodediv').innerHTML = `${orderDetails.order.code}`;
          if (orderDetails.order.paymentMethod.includes('Cash on Delivery')) {
            document.getElementById('orderplaced').classList.add('hidden');
            document.getElementById('paymentdone').innerHTML = `
              Order Placed Successfully <span><i class="bi bi-check2-circle"></i></span>
            `;
          }else{
            document.getElementById('orderplaced').innerHTML=`
            Order Placed Successfully
            `;
            document.getElementById('paymentdone').innerHTML = `
              Payment Successful<span><i class="bi bi-check2-circle"></i></span>
            `;
          }
        } else {
          throw new Error('Failed to fetch order details');
        }
      } catch (error) {
        console.error('Error fetching order details:', error);
      }
    };
  }
</script>

</body>
</html>
