<%- include("partials/header"); -%>
<%- include("partials/navbar"); -%>
<body class="mt-[80px] bg-gray-50 font-roboto">
  <div id="notification" class=" text-sm mt-2 ">
  </div>
  <div class="min-h-screen flex flex-col">
    <div class="flext justify-start">
      <div class="pt-[80px] pb-4 px-[50px]">
        <h1 class="text-4xl font-light">Shopping Cart</h1>
      </div>
    </div>

    <div class="w-full grid-cols-12  grid py-9 px-[80px] gap-3 " id="soppingCartTable">
      <div class="col-span-8 rounded-lg">
        <div class="overflow-x-auto ">
          <table class="min-w-full bg-white  shadow-sm">
            <thead>
              <tr class=" text-gray-600 text-sm">
                <th class="py-3 px-6 text-left">Product</th>
                <th class="py-3 px-6 text-center">Quantity</th>
                <th class="py-3 px-6 text-right">Total</th>
              </tr>
            </thead>
            <tbody id="cartTableBody" >
             
            </tbody>
          </table>
        </div>
      </div>
      <div class="col-span-4 justify-center flex max-h-[400px]" id="totalBox">
        
      </div>
    </div>
  </div>

  <script src="/javascript/user/shoppingCart.js">
    
  </script>

<%- include('partials/footer'); -%>
