<%- include("partials/header"); -%> <%- include("partials/navbar"); -%>

<body class="mt-[85px] font-roboto">
  <div class="flex justify-start items-start p-10 min-h-screen">
    <div
      class="md:min-w-[300px] min-w-[300px] p-4 flex flex-col justify-end items-end"
    >
      <div
        class="flex justify-start flex-col text-base leading-[35px] font-normal items-start"
      >
      <div class="search-container">
        <h4 class="text-md font-medium text-gray-700 mb-1">Search</h4>
        <div class="relative">
          <input
  type="text"
  id="searchInput"
  class="border border-gray-300 rounded p-2 pl-10 w-full outline-none focus:ring-0"
  placeholder="Search products..."
/>
  <i class="bi bi-search absolute top-1/2 left-3 transform -translate-y-1/2 text-gray-400"></i>
        </div>
      </div>
      
        <div class="mb-6">
          <h4 class="text-md font-medium text-gray-700 mb-1">Sort by</h4>
          <select class="w-full border border-gray-300 p-2" id="sortSelect">
            <option value="" selected>Select</option>
            <option value="newlaunches">New launches</option>
            <option value="low-to-high">Price: Low to High</option>
            <option value="high-to-low">Price: High to Low</option>
            <option value="aToZ">Aa-Zz</option>
            <option value="zToA">Zz-Aa</option>
          </select>
        </div>

        <div class="mb-6">
          <h4 class="text-md flex font-medium text-gray-700 mb-2">Category</h4>
          <ul id="categoryList"></ul>
        </div>
      </div>
    </div>

    <div class="overflow-x-auto flex grow scrollbar-hide">
      <div
        id="productsContainer"
        class="grid lg:grid-cols-4 grid-cols-1 gap-6 h-auto cursor-pointer"
      ></div>
    </div>
  </div>

<div
id="paginationContainer"
class="flex justify-end items-center space-x-4 p-4 bottom-0 right-0 left-0"
>
<button
  id="prevPageBtn"
  class="w-10 h-10 flex items-center justify-center rounded-full hover:text-gray-400 text-black disabled:opacity-50"
  disabled
>
  <span><i class="bi bi-chevron-left"></i></span>
</button>

<div id="pageNumbers" class="flex space-x-2">
</div>

<button
  id="nextPageBtn"
  class="w-10 h-10 flex items-center justify-center rounded-full hover:text-gray-400 text-black disabled:opacity-50"
  disabled
>
  <span><i class="bi bi-chevron-right"></i></span>
</button>
</div>

  <script src="/javascript/user/viewallPage.js"></script>

  <%- include('partials/footer'); -%>

